<section class = "top container">
  <p class = "flash"><%= notice %><%= alert %></p>         <%# ログイン後のフラッシュ %>
  <div id = "top-row" class = "row">
    <div class = "col-sm-4 col-sm-offset-2 hidden-xs">
      <img src = "<%= asset_path"top.jpg" %>" id = "top-img" >
    </div>
    <div class = "sign-in col-sm-4" id = "top-signin">
    <h1>タブリック</h1>
    <h4>ユーザー登録</h4>
    <br>
    <%= alert %>

    <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
        <br>
      </div>

      <div class="field">
        <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
        <br>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
        <br>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード（確認）" %>
      </div>

      <div class="actions">
        <%= f.submit "登録", class: "btn btn-success btn-block" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
</section>
