<%= form_for(@workplace,url:choose_new_or_edit) do |f| %>
  <% if @workplace.errors.any? %>
    <div id = "error_explanation">
      <h2><%= @workplace.errors.count %>件のエラーがあります。</h2>

      <ul>
        <% @workplace.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :現場名入力 %><br />
  <%= f.text_field :name,class:'form-control' %>
  <br>
  <%= f.submit "登録",class:'btn btn-teal500_rsd btn-block' %>
<% end %>
