<div class = "container">
  <div class = "wrapper col-md-12 col-sm-10">
  <p> <%= notice %> </p>

  <h1>現場一覧</h1>

    <%= link_to "新規登録",new_workplace_path %>

    <% @workplaces.each do |workplace| %>
      <p><%= workplace.name %></p>
      <br>
      <%= link_to "編集",edit_workplace_path(workplace.id),class:'btn btn-default btn-sm btn-success' %>
      <%= link_to "削除", workplace_path(workplace.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn-danger' %>
    <% end %>
  </div>
  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>
</div>
