<div class = "container">
  <div class = "wrapper col-md-12 col-sm-10">
  <p> <%= notice %> </p>
  <br>
  <br>
  <h3><span style="border-bottom: solid 1px;">現場一覧</span></h3>
  <br>
  <br>
  <p><strong><%= link_to "工事時間管理", consttime_workplace_constructions_path(@workplaces) %></strong></p>
  <br>
  <br>
  <%= link_to "新規登録",new_workplace_path,class:'btn btn-default btn-brown500_rsd btn-sm' 'style=font-size:15px;' %>
  <br>
  <br>
  <br>
  <% @workplaces.each do |workplace| %>
    <%= link_to workplace_path(workplace) do %>
      <h4><strong><%= workplace.name %></strong></h4>
    <% end %>
    <%= link_to "編集",edit_workplace_path(workplace.id),class:'btn btn-default btn-cyan700_rsd btn-xs' %>
    <%= link_to "削除", workplace_path(workplace.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default   btn-pink400_rsd btn-xs' %>
    <br>
    <br>
    <br>
  <% end %>
  </div>
  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>
</div>
