<div class = "container">
  <div class = "wrapper col-md-12 col-sm-10">

  <h3>工事別時間集計・管理</h3>
  <br>
  <div class = "select_form">
    <%= form_for(@construction,url:workplace_construction_consttime_path, :method => 'get') do |f| %>
      <p><%= f.date_select :constdate_search,{:discard_day=>true,:start_year=>2017,:default=>Time.now} %>
      <%= f.submit '検索',class: "btn btn-white_rsd btn-sm" %></p>
    <% end %>
  </div>
    <br>
    <table class="table table-striped table-bordered table-hover">
      <tbody>
        <tr>
          <th>現場</th>
          <th>工事内容</th>
          <th>月合計時間</th>
        </tr>
        <% @constructions.each do |construction| %>
          <% if construction.worktime_aggregates(:constructiontime).exists? %>
          <tr><td><%= construction.workplace.name %></td>
          <td><%= link_to controller: "worktime_aggregates", action: "index", construction_id: construction.id, start_year: @start_year ,start_month: @start_month, start_date: @start_date do %>
              <%= construction.name %></td>
          <td><%= WorktimeAggregate.sum_of_constructiontimes(construction.id, @start_date, @start_year, @start_month) %></td>
          </tr>
          <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>
</div>
