<%= form_for(@attendance) do |f| %>

  <% if @attendance.errors.any? %>
  <div id="error_explanation">
    <h2><%= @attendance.errors.count %>件のエラーがあります。</h2>

    <ul>
    <% @attendance.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.label :出勤日時 %>
  <div class='input date datetimepicker_opening'>
    <%= f.text_field :opening_datetime, class: 'form-control datetimepicker_opening' %>
  </div>
  <br>
  <%= f.label :退勤日時 %>
  <div class='input date datetimepicker_closing'>
    <%= f.text_field :closing_datetime, class:'form-control datetimepicker_closing' %>
  </div>
  <br>
  <table class="table table-striped table-bordered table-hover">
    <tbody>
      <tr>
        <th>時間外勤務</th>
        <th>休憩時間</th>
        <th>休暇</th>
      </tr>
      <td><%= f.number_field :over_time, class:'form-control input-sm',:step => 0.5,:value => 0.0,min: 0 %></td>
      <td><%= f.number_field :break_time, class:'form-control input-sm',:step => 0.5,:value => 1.0,min: 0 %></td>
      <td><%= f.check_box :holiday,checked_value:'true', unchecked_value:'false',id:'checked_clear' %></td>
    </tbody>
  </table>
  <br>
  <h5><strong>作業時間登録</strong></h5>
  <table class="table table-striped table-bordered table-hover">
    <tbody>
      <tr>
        <th>現場</th>
        <th>工事</th>
        <th>時間</th>
      </tr>
      <%= f.nested_fields_for :worktime_aggregates, wrapper_tag: :tr do |q| %>
        <td><%= q.collection_select :id, Workplace.all,:id,:name,{prompt: "選択"}, {class: "form-control input-sm"} %></td>
        <td><%= q.collection_select :construction_id, Construction.all,:id,:name ,{prompt: "選択"}, {class: "form-control input-xs"} %></td>
        <td><%= q.number_field :constructiontime, class:'form-control input-sm',:step => 0.5,:value => 8.0,min: 0 %></td>
        <td><%= q.remove_nested_fields_link '削除', class: 'btn btn-orange900_rsd', role: 'button' %></td>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= f.add_nested_fields_link :worktime_aggregates, '追加', class: 'btn btn-blue700_rsd', role: 'button' %>
  <br>
  <br>
  <%= f.submit '登録する', class: 'btn btn-teal500_rsd btn-md' %>
<% end %>
