<!DOCTYPE html>
<html>
<head>
  <title>TABRIC</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">     <!-- mobile対応(スマホ&タブレット) -->
</head>
<body>
  <% if current_user %>   <!-- ユーザーがログイン中のみヘッダー表示 -->
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header"style=width:100%;">
          <%= link_to "TABRIC",root_path,class: "navbar-brand" %>
          <div class = "header-container"style=width:100%;">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"style="max-width: 100px;float: right;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MENU<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "社員登録" %></li>
                  <li><%= link_to "現場/工事管理",workplaces_path %></li>
                  <li><%= link_to "出退勤情報管理",attendances_path %></li>
                  <% if user_signed_in? %>
                    <li><%= link_to '社員一覧', users_path %></li>
                    <li><%= link_to 'マイページ', edit_user_registration_path %></li>
                    <li><%= link_to'ログアウト',destroy_user_session_path,method: :delete %></li>
                  <% else %>
                    <li><%= link_to 'ログイン', new_user_session_path  %></li>
                    <li><%= link_to 'サインアップ', new_user_registration_path %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  <% end %>

  <%= yield %>

  <% if current_user %>   <!-- ユーザーがログイン中のみフッター表示 -->
  <footer>
    <p>運営会社　タブリック株式会社</p>
    <p>© 2015-2016 Copyright Tabric Corp.</p>
  </footer>
  <% end %>

<script>
  $(document).on('change', 'select#attendance_worktime_aggregates_attributes_0_id', function(e) {
  // タグ番号取得
    let id = e.target.id.match(/construction/)
    id = $(this).val()
  return $.ajax({
    type: 'GET',
    url: '/workplaces/' + id + '/constructions/:construction_id/get_construction',
    data: {
      workplace_id: $(this).val(),
      select_id: id
    }
  })
  });
</script>

</body>
</html>
